<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets TIME</title>
    <link rel="stylesheet" href="/Style/digitalclock.css">
</head>
<body>
    <h2>It's TIME</h2>
    <div class ='time'>
        <div>
            <span id='hour'>00</span>
            <span class ='text'>HOURS</span>
        </div>adf/b;LSF
        <div>
            <span id='minutes'>00</span>
            <span class ='text'>MINUTES</span>
        </div>
        <div>
            <span id='seconds'>00</span>
            <span class ='text'>SECONDS</span>
        </div>
        <div>
            <span id='ampm'>AM</span>
        </div>
    </div>
    <script src="/js/digitalclock.js"></script>
</body>
</html>