/*coments*/
body{
    margin: 0;
    display: flex;
    background: url("https://images.unsplash.com/photo-1506102383123-c8ef1e872756?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
    font-family: cursive;
    overflow: hidden;
}

h2{
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-align: center;
}

.year{
    font-size: 5em;
    color: white;
    font-weight: bold;
}

.coundown{
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 30%;
    color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coundown div{
    margin: 0 15px;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: -25px;
    position: relative;
    text-align: center;
    width: 100px;
}

.coundown div::before{
    content: "";
    position: absolute;
        bottom: -30px;
        left: 0;
        font-size: 0.35em;
        line-height: 35px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 500;
        width: 100%;
        height: 35px;
    
}

.coundown #day::before{
    content: "DAYS";
}

.coundown #hour::before{
    content: "HOURS";
}

.coundown #minute::before{
    content: "MINUTES";
}

.coundown #second::before{
    content: "SECONDS";
}